.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.mainForm{
  width: 50%;
  box-shadow: 0 0 20px lightgray;
  border-radius: 6px;
  text-align: start;
  transition: 500ms;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}
.two_props{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.address{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
img{
  margin-top: -50px;
  margin-bottom: 50px;
  width: 40%;
  z-index: 0;
  box-shadow: 0 0 20px lightgray;
  border-radius: 6px;
}
/* .main{
  display: flex;
  justify-content: center;
} */
.submit{
  background-color: #215162 !important;
  color: aliceblue !important;
}
  

@media only screen and (max-width: 600px) {
  .mainForm{
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .widthcontrol{
    width: 90% !important;
  }
}